{
  "name": "{{scheme-name}}",
  "description": "{{scheme-name}} scheme by {{scheme-author}}.",
  "repository": "https://github.com/mmims",
  "background": "Black",
  "foreground": "DarkCyan",
  "popupBackground": "DarkGreen",
  "popupForeground": "Gray",
  "palette": {
    "Black":       "#{{base00-hex}}",
    "DarkGray":    "#{{base01-hex}}",
    "DarkGreen":   "#{{base02-hex}}",
    "DarkYellow":  "#{{base03-hex}}",
    "DarkBlue":    "#{{base04-hex}}",
    "DarkCyan":    "#{{base05-hex}}",
    "Gray":        "#{{base06-hex}}",
    "White":       "#{{base07-hex}}",
    "Red":         "#{{base08-hex}}",
    "DarkRed":     "#{{base09-hex}}",
    "Yellow":      "#{{base0A-hex}}",
    "Green":       "#{{base0B-hex}}",
    "Cyan":        "#{{base0C-hex}}",
    "Blue":        "#{{base0D-hex}}",
    "Magenta":     "#{{base0E-hex}}",
    "DarkMagenta": "#{{base0F-hex}}"
  },
  "tokens": {
    "Command":   "Blue",
    "Comment":   "DarkYellow",
    "Keyword":   "Magenta",
    "Member":    "Blue",
    "Number":    "DarkRed",
    "Operator":  "Cyan",
    "Parameter": "DarkRed",
    "String":    "Green",
    "Type":      "Yellow",
    "Variable":  "Red"
  }
}